fieldset
{
	border : 1px solid transparent;
	display : inline-block;
}

input[type="textarea"],input[type="email"]
{
	display : block;
	margin : 10px 0;
	border : 1px solid transparent;
	background-color : transparent;
	border-bottom : 1px solid black;
	font-family: 'Rajdhani', sans-serif;
	font-style : oblique;
	text-align : center;
	font-size : 1.5em;
}

input:focus
{
	outline:none;
}

textarea
{
	display : block;
	border : 1px solid transparent;
	background-color : transparent;
	border-bottom : 1px solid black;
	resize : none;
}

textarea:focus
{
	outline : none;
}