// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$primaryColor : #f2f2f2;
$secondaryColor : #292d35;
$thirdColor : #3f4652;
$greenButtonColor : #00cc33;

@import 'components/buttons';
@import 'components/forms';


body
{
	background-color : $primaryColor;	
	min-height : 100%;
	margin : 0;
	overflow : auto;
	position : relative;
	font-family: 'Rajdhani', sans-serif;
}

header
{
	background-color : rgba(0,0,0,0.4);
	position : absolute;
	width : 100%;
	height : 60px;
	z-index : 2;
	color : white;

	nav
	{
		ul
		{
			li
			{
				display : inline;
				list-style-type : none;				
			}
		}
		
	}		
}

.heroBanner
{	
	background-color : $secondaryColor;
	background-image : url('../../images/HeroImage.jpg');
	background-size : 100% 100%;
	height : 70%;
	padding-top : 60px;
	position : relative;
	border-bottom : 1px solid black;

	h1
	{
		font-size : 6.5em;
		text-align : center;
		color : white;
		font-family: 'Caveat', cursive;	
		margin : 150px 0 0 0;	
		line-height : 1.7;	
		letter-spacing: 15px;
		display : none;
	}

	h2
	{
		font-size : 1.3em;
		text-align : center;
		color : white;
		margin : 0;		
		letter-spacing: 22px;
		display : none;
	}
}

main
{
	min-height : 100%;
	font-family: 'Rajdhani', sans-serif;
	position : relative;
	overflow : auto;
	h3
	{
		text-align : center;
		font-size : 2em;
		letter-spacing: 12px;
		font-weight : bold;
		display : none;
	}

	> .about-me
	{
		width : 80%;
		margin : 0 auto;	
		display : none;	
		overflow : auto;
	}

	.experiences
	{		
		margin : 0 auto;	
		display : none;	
		
		.subject-panel
		{
			display : inline-block;
			height : 300px;
			width : 38%;
			color : $secondaryColor;

			> h4
			{
				display : inline-block;
				font-size : 1.7em;
				margin : 0;
			}

			ul
			{				
			}
		}

	}

	.contact-me
	{
		background-image : url('../../images/me.jpg');
		background-position : right center;
		background-repeat : no-repeat;
		background-color : $thirdColor;
		color : white;
		width : 100%;
		height : 500px;
	}
}

footer
{
	width : 100%;
	height : 100px;
	background-color : $secondaryColor;
}

p
{
	text-indent : 20px;
	text-align : justify;
}

