// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$primaryColor : #f2f2f2;
$secondaryColor : #292d35;
$greenButtonColor : #00cc33;

@import 'components/buttons';
@import 'components/forms';


body
{
	background-color : $primaryColor;	
	min-height : 100%;
	margin : 0;
	overflow : auto;
	position : relative;

	header
	{
		background-color : rgba(0,0,0,0.4);
		position : absolute;
		width : 100%;
		height : 60px;
		z-index : 2;
		color : white;

		nav
		{
			ul
			{
				li
				{
					display : inline;
					list-style-type : none;				
				}
			}
			
		}		
	}

	section
	{	
		background-color : $secondaryColor;
		background-image : url('../../images/HeroImage.jpg');
		background-size : 100% 100%;
		height : 65%;
		padding-top : 60px;
		position : relative;
		border-bottom : 1px solid black;

		h1
		{
			font-size : 6.5em;
			text-align : center;
			color : white;
			font-family: 'Caveat', cursive;	
			margin : 150px 0 0 0;	
			line-height : 1.7;	
			letter-spacing: 15px;
			display : none;
		}

		h2
		{
			font-size : 1.3em;
			text-align : center;
			color : white;
			margin : 0;
			font-family: 'Rajdhani', sans-serif;
			letter-spacing: 22px;
			display : none;
		}
	}

	main
	{
		height : 100%;
		font-family: 'Rajdhani', sans-serif;

		h3
		{
			text-align : center;
			font-size : 2em;
			letter-spacing: 12px;
			font-weight : bold;
			display : none;
		}
	}

	footer
	{
		width : 100%;
		height : 100px;
		background-color : $secondaryColor;
	}
}

