// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$primaryColor : #f2f2f2;
$secondaryColor : #292d35;
$thirdColor : #3f4652;
$greenButtonColor : #00cc33;

@import 'components/buttons';
@import 'components/forms';


body
{
	background-color : $primaryColor;	
	min-height : 100%;
	margin : 0;
	overflow : auto;
	position : relative;
	font-family: 'Rajdhani', sans-serif;
}

header
{
	background-color : rgba(0,0,0,0.4);
	position : absolute;
	width : 100%;
	height : 60px;
	z-index : 2;
	color : white;

	nav
	{
		ul
		{
			float : left;
			li
			{
				display : inline-block;
				padding : 0 1em;
				list-style-type : none;		
				cursor : pointer;	
				transition : 0.15s;
				font-size : 1.2em;
				font-weight : bold;
			}
			li:hover
			{
				text-shadow : 2px 2px 5px #a8ff61;
			}
		}
		
		.right-nav
		{
			float : right;
		}

	}		
}

.heroBanner
{	
	background-color : $secondaryColor;
	background-image : url('../../images/HeroImage.jpg');
	background-size : 100% 100%;
	height : 70%;
	padding-top : 60px;
	position : relative;
	border-bottom : 1px solid black;

	h1
	{
		font-size : 6.5em;
		text-align : center;
		color : white;
		font-family: 'Caveat', cursive;	
		margin : 150px 0 0 0;	
		line-height : 1.7;	
		letter-spacing: 15px;
		display : none;
	}

	h2
	{
		font-size : 1.3em;
		text-align : center;
		color : white;
		margin : 0;		
		letter-spacing: 22px;
		display : none;
	}
}

main
{
	min-height : 100%;
	font-family: 'Roboto Slab', serif;
	font-size : 14px;
	position : relative;
	overflow : auto;
	color : $secondaryColor;
	h3
	{
		text-align : center;
		font-size : 2em;
		letter-spacing: 12px;
		font-weight : bold;
		padding-top : 20px;
	}

	> .about-me
	{
		width : 80%;
		margin : 0 auto;	
		overflow : hidden;
		font-size : 1.2em;

		.about-me-content
		{
			float : left;
			width : 60%;
			vertical-align : text-top;			
		}

		#profile-picture
		{			
			float : right;
			width : 160;
		 	height : 290;
		}
	}

	.experiences
	{		
		height : auto;
		margin : 0 auto;	
		
		.subject-item
		{
			display : inline-block;
			height : auto;
			width : 33%;
			color : $secondaryColor;		
			vertical-align : text-top;	

			> h4
			{
				display : inline-block;
				font-size : 1.7em;
				margin : 0;
			}

			h5
			{
				margin : 5px;
				font-size : 1em;
			}

			h6
			{			
				font-style : oblique;
				margin : 0;
				font-size : 0.8em;
			}
		}
	}

	.skills
	{
		padding-bottom : 50px;

		#skill-Chart
		{
			display : block;
			margin : auto;
			width : 100%;
			height : 400px;
		}
	}

	.contact-me
	{
		//background-image : url('../../images/me.jpg');
		background-position : right center;
		background-repeat : no-repeat;
		background-color : $thirdColor;
		color : white;
		width : inherit;
		height : 580px;
		overflow : hidden;

		h3
		{
			padding-top : 30px;
			margin : 0;
		}

		h4
		{
			text-align : center;
			letter-spacing : 2px;
		}

		.media-social-panel
		{
			width : 212px;
			margin : auto;
		}

		fieldset > div
		{
			margin : 10px 0;
		}
	}
}

.panel
{
	width : 80%;
	margin : auto;
	padding : 30px 0;
}

footer
{
	width : 100%;
	height : 240px;
	background-color : $secondaryColor;

	.footer-item
	{
		vertical-align : text-top;
		display : inline-block;
		width : 32.3%;
		height : auto;
	}

	h4,h5,h6
	{
		font-weight : normal;
		margin : 10px 0;
		color : white;
		letter-spacing : 2px;
	}
}

p
{
	text-indent : 20px;
	text-align : justify;
}

a
{
	color : white;
	text-decoration : none;
}

@media screen and (max-width: 800px) {
	.heroBanner
	{	
		height : 50%;
		h1
		{
			font-size : 5em;
			letter-spacing: 10px;
			margin : 150px 0 0 0;
		}
		h2
		{
			font-size : 1.6em;
			letter-spacing: 15px;
		}
	}
	.subject-item
	{
		padding-bottom : 1em;
		> h4
		{
			font-size : 1.5em!important;
		}
	}	
}

@media screen and (max-width: 414px) {
    
    nav 
	{
		ul
		{
			li
			{
				padding : 0 5px!important;
				font-size : 0.6em!important;
			}
		}
	}

    .heroBanner
	{	
		height : 30%;
		h1
		{
			font-size : 2em;
			letter-spacing: 10px;
			margin : 50px 0 0 0;
		}
		h2
		{
			font-size : 0.9em;
			letter-spacing: 10px;
		}
	}

	main
	{
		h3 
		{
			font-size : 1.1em;
			letter-spacing: 8px;
		}
	}

	.about-me-content
	{
		width : 100%!important;		
	}
	
	#profile-picture
	{
		display : none;
		visibility : hidden;
	}

	.subject-item
	{
		width : 100%!important;
		padding-bottom : 1em;
		> h4
		{
			font-size : 1.5em!important;
		}
	}	
}